@font-face {
  font-family: 'Ma Shan Zheng';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local('Ma Shan Zheng Regular'), local('MaShanZheng-Regular'), url(https://fonts.gstatic.com/l/font?kit=NaPecZTRCLxvwo41b4gvzkXaRMH0O2_T5FgiJ4aFbxw1E5sjP6vuzoAlqBKYHBbdUtiqp33H2ceA2fXZTFlypmnONWjvlEwXPg&skey=13c999d73b164fc8&v=v5) format('woff2');
}
